
/* importing font form google fonts */

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script&display=swap');

/* Setting background image for page */

body{
    background-image: url('./srcImages/moon-purple.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

/* making a keyframe for animation */

@keyframes floating2{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0);
    }
  }

/* styling our headings and main div  */

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97.5vh;

}
#hiname{
    color: rgb(226, 155, 68);
    font-family: 'Dancing Script';
    font-size: 5vw;
    padding-bottom: 6vw;
    display: flex;
    justify-content: center;
    font-weight: 700;
    animation: glow 1s ease-in-out infinite alternate;
    
}

/* taken this glow webkit keyframe from w3 schools but text  shadows are changed */

@keyframes glow {
  from {
    text-shadow: 0 0 10px #332f2f, 0 0 20px #211e1e, 0 0 30px #3b3538, 0 0 40px #3f3c3d, 0 0 50px #1e1c1d, 0 0 60px #1c191a, 0 0 70px #241f22;
  }
  
  to {
    text-shadow: 0 0 20px #393030, 0 0 30px #443d41, 0 0 40px #eadde4, 0 0 50px #3c373a, 0 0 60px #201d1e, 0 0 70px #3d383b, 0 0 80px #1a1819;
  }
  
}

/* using floating2 keyframe for animaton here */
 
#insthead{
    display: flex;
    justify-content: center;
    color: rgb(160, 202, 229);
    animation: floating2 3.5s ease-in-out infinite;
    font-family:'Dancing Script';
    font-weight: 600;
    font-size: 2.5vw;
    padding-bottom: 3vw;
}

/* using vw for giving size so that site become responsive for different displayed */

#bottom{
    background-color: rgb(23, 10, 10,0.6);
    padding: 1.5vw;
    border-radius: 35px 8px  ;
    animation: floating2 5s ease-in-out infinite;
}

#list{
    color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.7vw;
    animation: floating2 3.5s ease-in-out infinite;
}

#start{
    display: flex;
    justify-content: center;
}

#button{
    background-color: rgb(236, 203, 20,0.7);
    font-family:cursive;
    border-radius: 12px 4px;
    font-size: 2vw;
    width: 8vw;
}
#button:hover{
    background-color: gold;
    opacity: 200%;
}

#list:hover{
    color: rgb(235, 240, 243);
    opacity: 200%;
    
}

/* media query at max width 600px for making it responsive for mobile */

@media(max-width:600px){
    #hiname{
        font-size: 12vw;
    }
    #insthead{
        font-size: 5vw;
    }
    #list{
        font-size: 2.2vw;
    }
    #button{
        font-size: 3vw;
        width: 11.5vw;
    }
    #main{
        align-items: flex-start;
    }
    #secondmain{
        padding-top: 29vw;
    }
}